/* Add the motivational background */

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Container for To-Do list */

.todo-container {
    background-color: rgba(249, 244, 244, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
    color: #780559;
}

.input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #a72896;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7e0654;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.completed {
    text-decoration: line-through;
    color: rgb(188, 23, 174);
}

.edit-button,
.delete-button {
    margin-left: 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc282b;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}